.xs{
	/*display: flex;*/
	padding: 10px;
}
.sidebar-date-xs{
	float: left;
	padding: 10px;
}
.contents-xs{
	float: left;
}
.btn-xoso{
	margin-bottom: 10px;
	display: block;
}
.btn-xoso button:focus{
	background: #d23607 !important;
}
.chanel{
	/*border: 1px solid;*/
	/*border-radius: 5px; */
}
.chanel .chanel-header{
	border-bottom: 3px solid;
	padding: 5px;
	font-size: 20px;

}
.chanel .chanel-body{
	padding-top: 5px;
}
.chanel .chanel-body .value{
	display: inherit;
}
.chanel .chanel-body input{
	width: 100px;
	border: none;
	/*border-bottom: 1px solid;*/
}
/*.btn-active{
	    background: #d23607 !important;
}*/

